
:root{
   --violet-doux: #6C63FF;
   --violet-foncé:#534EDD;
   --orange-vif:#FFA726;
   --gris-très-foncé:#333;
   --gris-foncé:#666;
   --gris-très-claire:#F8F8F8;
   --gris-claire:#EEE;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
    background-color:var(--gris-très-claire) ;
    font-family: roboto ,sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 2rem 3rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
.logo{
    text-decoration: none;
    font-size: 2rem;
    color: var(--violet-doux);
    font-weight: bold;
   
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    margin-left: 25px;
}
ul li a {
    text-decoration: none;
    color: var(--gris-très-foncé);
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    padding: 10px 0;
}
ul li a:hover{
    color: var(--violet-foncé);
}
ul li a::after{
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 0;
     height: 2px;
     background-color: var(--violet-doux);
     transition: width 0.3s ease;
}
ul li a:hover::after{
    width: 100%;
}
ul li a.active{
    color: var(--violet-doux);
}
ul li a.active::after{
    width: 100%;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    margin: 10rem 2rem;
}
.hero-section img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border:7px solid var(--violet-doux);
}
.hero-section h1{
    font-size: 4rem;
    margin-bottom: 1.2rem;
    font-weight: bold;
    color: var(--violet-foncé);
}
.hero-section p{
    font-size: 1.3em;
    color: var(--gris-foncé);
    margin-bottom: 1.2rem;
}
.hero-section a{
    text-decoration: none;
    display: inline-block;background-color: var(--violet-doux);
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease ,transform 0.2s ease
    margin-top:1rem;
}
.hero-section a:hover{
    background-color: var(--violet-foncé);
    transform: translateY(-3px);
    
}
.about-section{
    text-align: center;
    width: 800px;
    margin: 2rem auto;
}
section h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--violet-doux);
    position: relative;
    text-align: center;
}
section h2::after{  /* soulignement*/
    content: '';
    display: block;
    height: 4px;
    width: 60px;
    background-color: var(--violet-doux);
    margin: 1.5rem auto;
    border-radius: 2px;
}
.about-section p{
    line-height: 1.6;
    font-size: 1.1em;
    color: var(--gris-foncé);
    margin-bottom: 2rem;
}
.competence-section{
   margin-top: 3rem;
}
.competence-section table{
    width: 80%;
    margin: 0 auto;
    background-color:#FFF;
    box-shadow: 0 5px rgba(0, 0, 0, 0.08);
    margin-bottom:3rem ;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
}
.competence-section table th, .competence-section table td{
      padding: 15px;
}
.competence-section table thead tr{
    background-color: var(--violet-doux);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}
.competence-section table td{
    border-bottom: px solid var(--gris-claire);
}
.competence-section table tbody tr:nth-child(even){
background-color: #fdfdfd;
}
.competence-section table tbody tr{
    transition: background-color 0.3s ease, transform 0.2S ease;
}
.competence-section table tbody tr:hover{
    background-color: #F0F0F0;
    transform: translateY(-3px);
}
footer{
    background-color: var(--violet-foncé);
    color: white;
    margin-top: 3rem;
    padding: 2rem 0;
    text-align: center;

}
footer p{
    margin-bottom: 1rem;
}
footer a{
    font-size: 1.6em;
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.2S ease;
    }
footer a:hover {
    color: var(--orange-vif);
    transform: translateY(-3px);
}